In [1]:
import string

import numpy as np
import pandas as pd

from charcnn import cnn
from charcnn import data
import evaluation as ev

# CharCNN DBPedia Evaluation

Char CNN Evaluated using the dbpedia dataset. Let's fetch the prediction results and the train and testsets.

In [2]:
EVALUATION_JOB = 'p1529244668'

In [3]:
df_test = pd.read_csv('https://storage.googleapis.com/reflectionlabs/dbpedia/test.csv.gz', header=None)

In [4]:
df_test.head(10)

,0,1,2
0,1,TY KU,TY KU /taɪkuː/ is an American alcoholic bever...
1,1,Odd Lot Entertainment,OddLot Entertainment founded in 2001 by longt...
2,1,Henkel,Henkel AG & Company KGaA operates worldwide w...
3,1,GOAT Store,The GOAT Store (Games Of All Type Store) LLC ...
4,1,RagWing Aircraft Designs,RagWing Aircraft Designs (also called the Rag...
5,1,Pošte Srpske,Pošte Srpske is one of three companies respon...
6,1,Open Kernel Labs,Open Kernel Labs (OK Labs) is a privately own...
7,1,Skye Bank,Skye Bank Plc. commonly known as Skye Bank is...
8,1,CNet Technology,CNet Technology is a Taiwanese company that m...
9,1,188BET,188BET is an online sportsbook provider. 188B...

In [5]:
df_predictions = ev.df_predictions(EVALUATION_JOB, verbose=True)

getting gs://reflectionlabs/predict/p1529244668/prediction.results-00000-of-00001

In [6]:
df_predictions.head(10)

,prediction,prediction_index,probabilities
0,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
1,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
2,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
3,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
4,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
5,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
6,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
7,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
8,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
9,7,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."

In [7]:
df_train = pd.read_csv('https://storage.googleapis.com/reflectionlabs/dbpedia/train.csv.gz', header=None)

In [8]:
df_train.head(10)

,0,1,2
0,1,E. D. Abbott Ltd,Abbott of Farnham E D Abbott Limited was a Br...
1,1,Schwan-Stabilo,Schwan-STABILO is a German maker of pens for ...
2,1,Q-workshop,Q-workshop is a Polish company located in Poz...
3,1,Marvell Software Solutions Israel,Marvell Software Solutions Israel known as RA...
4,1,Bergan Mercy Medical Center,Bergan Mercy Medical Center is a hospital loc...
5,1,The Unsigned Guide,The Unsigned Guide is an online contacts dire...
6,1,Rest of the world,Within sports and games played at the interna...
7,1,Globoforce,Globoforce is a multinational company co-head...
8,1,Rompetrol,The Rompetrol Group N.V. is a Romanian oil co...
9,1,Wave Accounting,Wave is the brand name for a suite of online ...